* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*::before {
    @extend *;
}

*::after {
    @extend *;
}

$color-cuede: #ec651a;
$color1: #52006A;
$color2: #CD113B;
$color3: #FF7600;
$color4: #FFA900;

@mixin size($a, $b) {
    width: $a;
    height: $b;
}